{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 title_header text-center">
            <h3> Login </h3>
        </div>


        <div class="col-md-12">

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Symfony Hackathon Starter </h1>
                </div>

                <div class="form-label-group">
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                </div>



                <div class="form-label-group">
                    <input type="password" id="password"  name="_password" autocomplete="current-password" class="form-control" placeholder="Password" required>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                </div>


                <div class="checkbox mb-3">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                    </label>
                    &nbsp;&nbsp;
                    <a href="{{ path('fos_user_resetting_request') }}"> Forgot your password</a>

                </div>

                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>

                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-block btn-facebook btn-social" href="/auth/facebook">
                            <i class="fa fa-facebook-f fa-sm"></i>Sign in with Facebook
                        </a>

                        <a class="btn btn-block btn-twitter btn-social" href="/auth/twitter">
                            <i class="fa fa-twitter fa-sm"></i>Sign in with Twitter
                        </a>

                        <a class="btn btn-block btn-google btn-social" href="/auth/google">
                            <i class="fa fa-google-plus-g fa-xs"></i>Sign in with Google
                        </a>

                        <a class="btn btn-block btn-github btn-social" href="/auth/github">
                            <i class="fa fa-github fa-sm"></i>Sign in with GitHub
                        </a>

                        <a class="btn btn-block btn-linkedin btn-social" href="/auth/linkedin">
                            <i class="fa fa-linkedin-in fa-sm"></i>Sign in with LinkedIn
                        </a>

                        <a class="btn btn-block btn-instagram btn-social" href="/auth/instagram">
                            <i class="fa fa-instagram fa-sm"></i>Sign in with Instagram
                        </a>


                        <ul id="social-connect">
                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                    Connect with Facebook
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}" >
                                    Connect with Google
                                </a>
                            </li>


                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'auth0'}) }}" >
                                    Connect with Auth0
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'sensio'}) }}" >
                                    Connect with SymfonyConnect
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter'}) }}" >
                                    Connect with Twitter
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'github'}) }}" >
                                    Connect with GitHub
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'gitlab'}) }}" >
                                    Connect with GitLab
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin'}) }}" >
                                    Connect with LinkedIn
                                </a>
                            </li>


                            <li>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'instagram'}) }}" >
                                    Connect with Instagram
                                </a>
                            </li>


                            <li>
                                {% if app.user %}
                                    Welcome, {{ app.user.username }}!<br/>
                                    {{ dump(app.user) }}
                                    <a href="{{ url('secured') }}">Protected route</a>
                                    <a href="{{ logout_url("secured_area") }}">
                                        <button>Logout</button>
                                    </a>
                                {% else %}
                                    <h1>Symfony Auth0 Quickstart</h1>
                                    <a href="/connect/auth0"><button>Login</button></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
