{% extends 'base.html.twig' %}

{% block title %} API Examples | Symfony Hackathon Starter {% endblock %}

{% block body %}
    <main role="main" style="margin-top: 30px">
        <div class="container">
            <div class="title_header">
                <h3> API Examples </h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('github') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #000">
                            <div class="card-body">
                                <img src="https://i.imgur.com/2AaBlpf.png" height="40"> GitHub</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('twitter') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #00abf0">
                            <div class="card-body">
                                <img src="https://i.imgur.com/EYA2FO1.png" height="40"> Twitter</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('facebook') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #3b5998">
                            <div class="card-body">
                                <img src="https://i.imgur.com/jiztYCH.png" height="40"> Facebook</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('foursquare') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #1cafec">
                            <div class="card-body">
                                <img src="https://i.imgur.com/PixH9li.png" height="40"> Foursquare</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('instagram') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #947563">
                            <div class="card-body">
                                <img src="https://i.imgur.com/aRc6LUJ.png" height="40"> Instagram</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('linkedin') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #007bb6">
                            <div class="card-body">
                                <img src="https://i.imgur.com/sYmVWAw.png" height="40"> LinkedIn</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('spotify') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #000">
                            <div class="card-body">
                                <img src="https://i.imgur.com/1xGmKBX.jpg" height="40"> Spotify</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('stripe') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #3da8e5">
                            <div class="card-body">
                                <img src="https://i.imgur.com/w3s2RvW.png" height="40"> Stripe</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('paypal') }}" style="color: #000">
                        <div class="card mb-3" style="background-color: #f5f5f5">
                            <div class="card-body">
                                <img src="https://i.imgur.com/JNc0iaX.png" height="40"> PayPal</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('flickr') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #bd081c">
                            <div class="card-body">
                                <img src="https://i.imgur.com/JNNRQSm.png" height="40"> Flickr</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('slack') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #bd081c">
                            <div class="card-body">
                                <img src="http://i.imgur.com/fbNYOzm.png" height="40"> Slack</div>
                        </div>
                    </a>
                </div>


                <div class="col-md-4">
                    <a href="{{ path('soundcloud') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #bd081c">
                            <div class="card-body">
                                <img src="https://i.imgur.com/JNNRQSm.png" height="40"> Soundcloud</div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('yahoo') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #bd081c">
                            <div class="card-body">
                                <img src="https://i.imgur.com/JNNRQSm.png" height="40"> Yahoo </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{{ path('dropbox') }}" style="color: #fff">
                        <div class="card mb-3" style="background-color: #20a360">
                            <div class="card-body">
                                <img src="https://i.imgur.com/Er2ZqgZ.png" height="40"> Dropbox</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
