{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 title_header text-center">
            <h3>Edit Profile </h3>
        </div>

        <div class="col-md-12">

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Symfony Hackathon Starter </h1>
            </div>

            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-signin' } }) }}

            {% if not form.vars.valid %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong>
                    {{ form_errors(form.username) }}
                    {{ form_errors(form.email) }}
                    {{ form_errors(form.current_password) }}
                </div>
                <div></div>
            {% endif %}


            <div class="form-label-group">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.username) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.email) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.current_password) }}
            </div>

            <div class="form-label-group">
                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'profile.edit.submit'|trans }}</button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>
