{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 title_header text-center">
            <h3> Change password </h3>
        </div>

        <div class="col-md-12">

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Symfony Hackathon Starter </h1>
            </div>

            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset form-signin' } }) }}

            <div class="form-label-group">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.plainPassword.first) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.plainPassword.second) }}
            </div>


            <div class="form-label-group">
                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'resetting.reset.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>