{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 title_header text-center">
            <h3> Register </h3>
        </div>

        <div class="col-md-12">

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Symfony Hackathon Starter </h1>
            </div>


            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-signin'}}) }}

            <div class="form-label-group">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.email) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.username) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.plainPassword.first) }}
            </div>

            <div class="form-label-group">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_label(form.plainPassword.second) }}
            </div>

            <div class="form-label-group">
                {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'registration.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>